#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.loader {
  display: flex;
  gap: 15px;
}

.loader .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader .red {
  background-color: red;
}

.loader .blue {
  background-color: #00bfff;
  animation-delay: 0.3s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0.5;
  }
}
